/* تنسيق رابط مجموعة التلغرام */
.telegram-link {
    margin-top: 10px; /* المسافة من النص السابق */
    text-align: center;
}

.telegram-link a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.telegram-link a i {
    font-size: 24px; /* حجم الأيقونة */
    margin-right: 8px; /* المسافة بين الأيقونة والنص */
}

.telegram-link a:hover {
    color: #d4d4d4;
}
